* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 20px;
  color: #5866ff;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
}

a {
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 100px;
  font-weight: 600;
}

h2 {
  font-size: 50px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  z-index: 100;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  background: linear-gradient(90deg, #dfe2ff, #fbfbff);
  box-shadow: 0px 10px 50px rgba(69, 77, 165, 0.2588235294);
}
nav ul li {
  display: flex;
}
nav ul li a {
  padding: 15px 40px;
  color: #1A2BE8;
  transition: 0.5s ease-out;
}
nav ul li a:hover {
  color: #4b59f1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
  background-color: #4b59f1;
}
footer p {
  color: #fbfbff;
}

.main-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 150px 0;
  background-color: #5866ff;
}
.main-home article {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.main-home article h1, .main-home article h2 {
  color: #fbfbff;
}
.main-home aside {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.main-home aside img {
  width: 550px;
}
.main-home aside section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.button {
  padding: 8px 30px;
  color: #1A2BE8;
  background-color: #fbfbff;
  box-shadow: 0px 10px 10px rgba(69, 77, 165, 0.2588235294);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  transform: scale(0.95);
  background-color: #dfe2ff;
}

.cta {
  color: #fbfbff;
  background-color: #4b59f1;
}

.cta:hover {
  background-color: #3c4bf0;
}

.ctaDisable {
  color: #fbfbff;
  background-color: #5e5e5e;
}

.ctaDisable:hover {
  color: #fbfbff;
  background-color: #5e5e5e;
}

.main-product {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 150px;
}
.main-product .aside-filtres {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.main-product .aside-filtres label {
  font-weight: 500;
}
.main-product .aside-filtres select {
  padding: 5px 8px;
  border-radius: 10px;
  border: 2px solid #5866ff;
}
.main-product .aside-filtres select:focus {
  outline-color: #5866ff;
}
.main-product .product-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.product-item article {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 15px;
  background-color: #fbfbff;
  box-shadow: 5px 5px 15px rgba(69, 77, 165, 0.2588235294);
  transition: 0.8s;
}
.product-item article img {
  width: 100%;
  height: 274px;
  border-radius: 15px 15px 0 0;
  transition: 0.8s;
}
.product-item article .article-infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0 30px;
}
.product-item article:hover {
  background-color: #dfe2ff;
}
.product-item article:hover img {
  opacity: 0.8;
}

.main-details-product {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 150px;
}
.main-details-product .section-details-product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.main-details-product .section-details-product article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
  box-sizing: border-box;
}
.main-details-product .section-details-product article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 900px;
  height: 600px;
  border-radius: 20px;
}
.main-details-product .section-details-product article aside {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.main-details-product .section-details-product article aside h3, .main-details-product .section-details-product article aside button {
  margin-top: 15px;
}
.main-details-product .section-details-product a {
  color: #1A2BE8;
  transition: 0.5s ease-out;
}
.main-details-product .section-details-product a:hover {
  color: #4b59f1;
}

.main-form {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 150px;
}
.main-form .login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-form .login-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  padding: 50px;
  border-radius: 20px;
  background-color: #fbfbff;
  box-shadow: 0px 10px 20px rgba(69, 77, 165, 0.2588235294);
}
.main-form .login-content form p {
  font-style: italic;
  opacity: 0.6;
}
.main-form .login-content form label {
  margin-top: 15px;
}
.main-form .login-content form input {
  padding: 8px 0px 8px 8px;
  border: 1px solid #5866ff;
  border-radius: 10px;
}
.main-form .login-content form .a-sign-up {
  font-weight: 400;
  font-style: italic;
}
.main-form .login-content form input[type=submit] {
  display: block;
  margin: 35px auto 0;
  padding: 5px 20px;
  border-radius: 30px;
  color: #fbfbff;
  background-color: #4b59f1;
  transition: 0.8s;
  cursor: pointer;
}
.main-form .login-content form input[type=submit]:hover {
  transform: scale(0.95);
  background-color: #3c4bf0;
}

.main-cart {
  display: flex;
  flex-direction: column;
  margin: 50px 100px 150px;
}
.main-cart .cart-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.main-cart .cart-section .cart-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.main-cart .cart-section .cart-content .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #5866ff;
  box-sizing: border-box;
}
.main-cart .cart-section .cart-content .cart-item .div-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.main-cart .cart-section .cart-content .cart-item .div-infos img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-cart .cart-section .cart-content .cart-item .div-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.main-cart .cart-section .cart-content .cart-item .div-quantity button {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 5px;
  color: #fbfbff;
  background-color: #4b59f1;
  cursor: pointer;
}
.main-cart .cart-section .cart-content .cart-item .div-delete button {
  padding: 8px 30px;
  background-color: #f84242;
}
.main-cart .cart-section .cart-content .cart-item .div-delete button:hover {
  background-color: #e64444;
}
.main-cart .cart-section .aside-cart {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-cart .cart-section .aside-cart h3 {
  font-size: 24px;
  font-weight: 600;
}

.main-admin {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.main-admin .aside-navbar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
  width: 400px;
  padding: 30px 25px;
  background-color: #5866ff;
  box-shadow: 10px 0px 50px rgba(69, 77, 165, 0.2588235294);
}
.main-admin .aside-navbar .sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-admin .aside-navbar h3, .main-admin .aside-navbar a {
  color: #fbfbff;
}
.main-admin .aside-navbar h3 {
  font-size: 24px;
  font-weight: 500;
}

.main-gestion-product .gestion-product-content aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #4b59f1;
  background-color: #fbfbff;
  box-shadow: 5px 5px 15px rgba(69, 77, 165, 0.2588235294);
}
.main-gestion-product .gestion-product-content aside p, .main-gestion-product .gestion-product-content aside strong {
  text-align: center;
  color: #5866ff;
}
.main-gestion-product .gestion-product-content aside strong {
  font-weight: 500;
  font-size: 35px;
}
.main-gestion-product .gestion-product-content section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
.main-gestion-product .gestion-product-content section .list-product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.main-gestion-command .list-command {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin: 40px 0 80px;
}
.main-gestion-command .list-command article {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  padding: 30px;
  border-radius: 15px;
  background-color: #fbfbff;
  box-shadow: 5px 5px 15px rgba(69, 77, 165, 0.2588235294);
  transition: 0.8s;
}
.main-gestion-command .list-command article h3, .main-gestion-command .list-command article p {
  color: #5866ff;
}

.gestion-form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gestion-form-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: 40%;
  padding: 50px;
  border-radius: 20px;
  background-color: #fbfbff;
  box-shadow: 0px 10px 20px rgba(69, 77, 165, 0.2588235294);
}
.gestion-form-content form label {
  margin-top: 15px;
}
.gestion-form-content form input, .gestion-form-content form select, .gestion-form-content form textarea {
  padding: 8px 0px 8px 8px;
  border: 1px solid #5866ff;
  border-radius: 10px;
}
.gestion-form-content form textarea {
  resize: none;
  height: 160px;
}
.gestion-form-content form input[type=file] {
  display: none;
}
.gestion-form-content form .urlImg-button {
  margin: 0;
  padding: 8px 0px 8px 8px;
  border: 1px solid #5866ff;
  border-radius: 10px;
  cursor: pointer;
}
.gestion-form-content form input[type=submit] {
  display: block;
  margin: 35px auto 0;
  padding: 5px 20px;
  border-radius: 30px;
  color: #fbfbff;
  background-color: #4b59f1;
  transition: 0.8s;
  cursor: pointer;
}
.gestion-form-content form input[type=submit]:hover {
  transform: scale(0.95);
  background-color: #3c4bf0;
}/*# sourceMappingURL=main.css.map */