<header>
    <nav>
        <ul class="menu">
            <li><a href="/">Accueil</a></li>
            <li><a href="/listeProduits">Produits</a></li>
            <li><a href="/login">Se connecter</a></li>
            <li><a href="/panier">Panier</a></li>
        </ul>
    </nav>
</header>