$font: 'Verdana';
$color-primary: #C3EEEA;
$color-secondary: #84CDC6;
$color-third: #dbfcf8;
$color-light: #ffffff;
$color-dark: #111414;
$color-shadow: #11141423;
$color-warning: #d64035;
$color-warning-secondary: #e0685f;
