* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  list-style: none;
  text-decoration: none;
}

/*FONT*/
body {
  font-size: 25px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-weight: 600;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  background-color: #84CDC6;
}
.navbar ul li {
  display: flex;
}
.navbar ul li a {
  padding: 15px 40px;
  color: #ffffff;
  transition: 0.5s ease-out;
}
.navbar ul li a:hover {
  color: #84CDC6;
  background-color: #C3EEEA;
}

footer {
  display: flex;
  align-items: flex-end;
  margin-top: 110px;
  padding: 80px 0 70px;
  background-color: #84CDC6;
}
footer p {
  color: #ffffff;
}

.button {
  display: inline-block;
  margin: auto;
  padding: 8px 25px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #84CDC6;
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  color: #84CDC6;
  background-color: #C3EEEA;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  text-align: center;
}
.main-section h1 {
  font-size: 25px;
}

.row-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

#section-list-produits div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#section-list-produits div article {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  background-color: #C3EEEA;
  box-shadow: 5px 5px 10px rgba(17, 20, 20, 0.137254902);
  transition: 0.8s;
}
#section-list-produits div article img {
  width: 100%;
  height: 274px;
  border-radius: 20px 20px 0 0;
  transition: 0.8s;
}
#section-list-produits div article .article-infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0 30px;
}
#section-list-produits div article:hover {
  background-color: #84CDC6;
}
#section-list-produits div article:hover img {
  opacity: 0.8;
}

#section-detail-produits article {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
#section-detail-produits article img {
  width: 400px;
  border-radius: 20px;
}
#section-detail-produits article aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}
#section-detail-produits article aside h2,
#section-detail-produits article aside p {
  text-transform: capitalize;
}
#section-detail-produits article aside h2 {
  margin-bottom: 20px;
}
#section-detail-produits article aside h3 {
  margin-top: 10px;
}
#section-detail-produits article aside button {
  margin-top: 40px;
}

.main-form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 30%;
  min-width: 250px;
  padding: 60px 50px 80px;
  border-radius: 20px;
  text-align: start;
  background-color: #C3EEEA;
}
.main-form label {
  margin-top: 15px;
}
.main-form textarea, .main-form input {
  padding: 5px 0 5px 8px;
  border-radius: 3px;
  background-color: #ffffff;
}
.main-form span {
  margin: 10px 0 15px;
  font-size: 15px;
  font-style: italic;
  cursor: pointer;
}
.main-form input[type=submit] {
  display: inline-block;
  margin: 30px auto 0;
  padding: 5px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: #ffffff;
  background-color: #84CDC6;
}
.main-form input[type=submit]:hover {
  color: #84CDC6;
  background-color: #dbfcf8;
}
.main-form textarea {
  height: 200px;
  resize: none;
}/*# sourceMappingURL=main.css.map */