<!DOCTYPE html>
<html>
<%- include('./template/head') -%>

    <body>
        <%- include('./template/header') -%>
            <main id="main-administration" class="main-section">
                <section>
                    <h1>Gestion des produits</h1>
                    <a href="/gestion-produits" class="button">Y Accéder</a>
                </section>
                <section>
                    <h1>Gestion des commandes</h1>
                    <a href="/gestion-commandes" class="button">Y Accéder</a>
                </section>
            </main>
            <%- include('./template/footer') -%>
    </body>

</html>