<!DOCTYPE html>
<html>
    <%- include('./template/head') -%>
    <body>
        <%- include('./template/header') -%>
            <main>
                
            </main>
        <%- include('./template/footer') -%>
    </body>
</html>