<!DOCTYPE html>
<html>
    <%- include('./template/head') -%>
    <body>
        <%- include('./template/header') -%>
        <main>
            <h1>Détails Produit</h1>
            <section>
                <article>
                    <img src="<%produit.urlImage%>"
                    <p> <% produit.nom %> </p>
                </article>
            </section>
        </main>
        <%- include('./template/footer') %>
    </body>
</html>