<!DOCTYPE html>
<html>
    <%- include('./template/head') -%>
    <body>
        <%- include('./template/header') -%>
        <main>
            <h1>Site E-Commerce</h1>
        </main>
        <%- include('./template/footer') -%>
    </body>
</html>