    <main>
        <h1>Tous les Produits</h1>
        <section>
            <% for(let i=0; i<produits.length; i++) { %>
                
                <a href="/produit/<% produits[i].id %>">
                    <article>
                        <img src="<% produits[i].urlImage %>"/>
                        <p> <% produits[i].nom %></p>
                    </article>
                </a>
            <% } %>
        </section>
    </main>