<!DOCTYPE html>
<html>
    <%- include('./template/head') -%>
    <body>
        <%- include('./template/header') -%>
        <main>
        <form id="form-connexion" action="/connexion" method="post">
            <input type="text" name="login" placeholder="login" />
            <input type="password" placeholder="password"/>
            <input type="submit" value "Se connecter" />
        </form>
    </main>
        <%- include('./template/footer') -%>
    </body>
</html>