<!DOCTYPE html>
<html>
    <%- include('./template/head') -%>
    <body>
        <%- include('./template/header') -%>
        <main class="flex flex-col justify-center items-center mt-20">
        <form id="form-connexion" action="/connexion" method="post">
            <h2 class="text-center text-lg">Connexion</h2>
            <label for="login">Email</label>
            <input type="text" name="login" id="login" />
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" />
            <span>Mot de passe oublié ?</span>

            <a href="#">Créer un compte</a>
            <input type="submit" value = "Se connecter" />
        </form>
    </main>
        <%- include('./template/footer') -%>
    </body>
</html>